<a href="https://colab.research.google.com/github/Santiago-Shen-Edzon/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fundamental of Python

Information

In [ ]:
if 5 > 2:
  print("5 > 2")

5 > 2

Python Comment

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variable

In [ ]:
#Single value with single variable

x = 1

#Single variable with multiple values

array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Shen"
print (a, b, c)
print (b)
print (c)

[1, 2, 3]
Shen Shen Shen
Shen
Shen

Python Casting

In [1]:
n = int(4)
print(n)

4

Type Function

In [3]:
c = "Sally"
d = 5.6
print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

Single / Double Quotes

In [2]:
# Double quotes

x = "Sample"

print(x)

# Single quote

y = 'Sample'

print(y)

Sample
Sample

Arithmec Operation

In [11]:
x = 5
y = 7
z = 15

#Addition
t_1 = x + y
#Subtraction
t_2 = y - x
#Multiplication
t_3 = x * y
#Division
t_4 = z / x
#Module
t_5 = z % y
#Exponentiation
t_6 = x ** y
#Floor Division
t_7 = x // z

print(t_1)
print(t_2)
print(t_3)
print(t_4)
print(t_5)
print(t_6)
print(t_7)

12
2
35
3.0
1
78125
0